.reset-password-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-password-form {
  width: 100%;
}

.form-input {
  position: relative;
  margin-bottom: 16px;

  ion-item::part(native) {
    padding-left: 0;
  }

  ion-icon {
    position: absolute;
    top: 37px;
    z-index: 2;
    font-size: 1.2rem;
    left: 5px;
  }

  ion-label {
    margin-left: 35px;
  }

  .custom-input {
    --padding-start: 36px;
    font-size: 0.9rem;
  }
}

.action-button {
  margin-top: 16px;
  text-align: center;

  .btn-next {
    width: 100%;
    font-size: 1.1rem;
    --background:#F8B500 ;
  }
  .btn-correo{
    width: 100%;
    font-size: 1.1rem;
    --background:#F8B500 ;
  }

  .change-password {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 3px;
    width: 100%;
    --border-color:#b4b4b4;
    color: #000000;
  }
}

.password-container {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.show-password {
  height: auto;
  opacity: 1;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --background: transparent;
}