<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Recuperar Contraseña</h1>
      <p>Introduce tu correo para restablecer tu contraseña</p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="stacked">Correo</ion-label>
          <ion-input type="email" [(ngModel)]="email" class="custom-input"></ion-input>
        </ion-item>
      </div>

      <div *ngIf="showPasswordFields">
        <div class="form-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-item>
            <ion-label position="stacked">Nueva Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="newPassword" class="custom-input"></ion-input>
          </ion-item>
        </div>
        <div class="form-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-item>
            <ion-label position="stacked">Confirmar Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="confirmPassword" class="custom-input"></ion-input>
          </ion-item>
        </div>
      </div>
    </div>

    <div class="action-button ion-padding">
      <ion-button class="btn-correo" (click)="validateEmail()" *ngIf="!showPasswordFields">Validar correo</ion-button>
      <ion-button class="btn-next" (click)="resetPassword()" *ngIf="showPasswordFields">Restablecer contraseña</ion-button>

      <!-- Botón para retroceder -->
      <ion-button class="change-password" fill="outline" (click)="goBack()">Regresar</ion-button>
    </div>
  </div>
</ion-content>